<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="world_name" default="wh0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_path_planning)/worlds/$(arg world_name).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-x -1.0 -y 0.0 -z 0.0 -Y 1.57 -urdf -model Robot1 -param /robot_description" 
    respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-x 0.0 -y 0.0 -z 0.0 -Y 1.57 -urdf -model Robot2 -param /robot_description" 
    respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  </group>

  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-x 1.0 -y 0.0 -z 0.0 -Y 1.57 -urdf -model Robot3 -param /robot_description" 
    respawn="false" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
  </group>

</launch>
